/* GENERAL STYLE */
body {
  font-family: "Roboto"
}

a {
  color: #006aff;;
}

a:hover {
  color: red;
}

.section {
  padding: 50px 0;
}

/* UTILITIES */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* Margins */
.mt-50 {
  margin-top: 50px;
}

.ml-60 {
  margin-left: 60px;
}

/* Padding */


/* Colors */
.white-text {
  color: #fff;
}

.black-text {
  color: black;
}

/* Typhography */
h1, h2, h3, h4 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

/* Buttons */
.btn {
  background: #fff;
  box-shadow: inset 0 1px 8px rgba(0,0,0,.075)
}

.btn-default {
  background-color: transparent;
  border-color: #006aff;
  color: #006aff;
}

.btn-default:hover {
  background-color: #006aff;
  border-color: #006aff;
  color: #fff;
}

.btn-primary {
  background: #006aff;;
}

/* MAIN CONTENT */
/* Header */
.navbar-default .navbar-nav > li > a {
  line-height: 70px;
  padding: 0 20px;
  color: #031b4f;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #0061ff;
}

.navbar {
  height: 70px;
  background-color: #fff;
}

.navbar-brand img {
  width: 200px;
}

.navbar-toggle {
  border: none;
  margin: 15px;
}

/* HERO */
#hero {
  height: 110vh;
  background-image: url(../assets/bg-banner-home.jpg);
  background-size: cover;
  background-position: center;
}

.card {
  width: 100%;
  padding: 20px 15px;
  background: #fff;
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0;
}

form .btn {
  position: relative;
  margin-bottom: 16px;
}

form .btn img {
  position: absolute;
  top: 8px;
  left: 12px;
  max-height: 16px;
}


/* MEDIA Tablet */
@media screen and (min-width: 991px){
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 35px;
  }

  p {
    font-size: 25px;
  }

  .card {
    padding: 60px 30px;
  }

  .form-control, .card button {
    height: 50px;
  }

  form, small {
    font-size: 20px;
  }

}


/* MEDIA < Desktop */
@media screen and (max-width: 1199px) {

  /* Mostra hamburger */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    /* Nascondi contenitore menu */
    .navbar-collapse {
        display: none;
    }
}
