/* GENERAL STYLE */
body {
  font-family: "Roboto"
}

a {
  color: #006aff;;
}

a:hover {
  color: red;
}

.section {
  padding: 50px 0;
}

/* UTILITIES */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* Margins */
.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-60 {
  margin-left: 60px;
}

/* Padding */
.pd-0 {
  padding: 0;
}

/* Colors */
.white-text {
  color: #fff;
}

.black-text {
  color: black;
}

.grey-text {
  color: #5b6987;
}

.light-blue-text {
  color: #00d7d2;
}

.grey-back {
  background: #f3f5f9;
}

.blue-back {
  background: #0069ff;
}

/* Typhography */
.f-w-700 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

/* Buttons */
.btn {
  background: #fff;
  box-shadow: inset 0 1px 8px rgba(0,0,0,.075)
}

.btn-default {
  background-color: transparent;
  border-color: #006aff;
  color: #006aff;
}

.btn-default:hover {
  background-color: #006aff;
  border-color: #006aff;
  color: #fff;
}

.btn-primary {
  background: #006aff;;
}

/* MAIN CONTENT */
/* Header */
.navbar-default .navbar-nav > li > a {
  line-height: 70px;
  padding: 0 20px;
  color: #031b4f;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #0061ff;
}

.navbar {
  height: 70px;
  background-color: #fff;
}

.navbar-brand img {
  width: 200px;
}

.navbar-toggle {
  border: none;
  margin: 15px;
}

/* HERO */
#hero {
  height: 110vh;
  background-image: url(../assets/bg-banner-home.jpg);
  background-size: cover;
  background-position: center;
}

.card {
  width: 100%;
  padding: 20px 15px;
  background: #fff;
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0;
}

form .btn {
  position: relative;
  margin-bottom: 16px;
}

form .btn img {
  position: absolute;
  top: 8px;
  left: 12px;
  max-height: 16px;
}

/* INNOVATIVE BUSINESSESS */
.sponsor {
  padding: 20px 0;
  color: #5b6987;
}

.sponsor ul li {
  display: inline-block;
  width: calc(100% / 2 - 10px);
  padding: 10px;
}

.sponsor ul li a img {
  max-width: 100%;
  vertical-align: middle;
}

/* DEPLOY AND SCALE */
.list-deploy {
  font-size: 20px;
  border-left: 2px solid #5b6987;
  margin-bottom: 30px;
}

.list-deploy ul {
  list-style-type: none;
  padding-left: 10px;
}

.list-deploy ul li {
  padding: 10px 0;
}

/* DESIGNED FOR DEV */
.carousel {
  position: relative;
  width: 80%;
  margin: 60px auto;
}

.carousel img {
  max-width: 90%;
}

.circles {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #0069ff;;
  border-radius: 50%;
}

.carousel .fa-chevron-right {
  display: none;
  position: absolute;
  right: 0;
  top: 45%;
  font-size: 30px;
}

.carousel .fa-chevron-left {
  display: none;
  position: absolute;
  left: 0;
  top: 45%;
  font-size: 30px;
}

/* SERVICE YOUR CUSTOMERS */
.regions {
  border-bottom: 1px solid #fff;
}

/* DEVELOPMENT TEAMS */
.rockerbox {
  margin: 40px;
  padding: 40px 8px;
  background-color: #fff;
}

/* MEDIA > Tablet */
@media screen and (min-width: 991px){
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 35px;
  }

  p {
    font-size: 25px;
  }

  .card {
    padding: 60px 30px;
  }

  .form-control, .card button {
    height: 50px;
  }

  form, small {
    font-size: 20px;
  }

  form .btn img {
    position: absolute;
    top: 15px;
    left: 12px;
    max-height: 20px;
  }

  .sponsor ul li {
    display: inline-block;
    width: calc(100% / 6 - 10px);
    padding: 10px;
  }

  .carousel {
    margin: auto;
  }

  .carousel .fa-chevron-left, .carousel .fa-chevron-right {
    display: block;
  }
}

/* MEDIA < Desktop */
@media screen and (max-width: 1199px) {

  /* Mostra hamburger */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    /* Nascondi contenitore menu */
    .navbar-collapse {
        display: none;
    }
}
